label {
    display: block;
  }
  label input, label textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
  }
  label .error {
    margin-top: -20px;
    background: yellow;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  .cta {
    background: #70f;
    border: none;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Montserrat';
    justify-content: center;
    display: flex;
    height: 50px;
    font-size: 18px;
    float: right;
  }
  .results {
    margin-top: 50px;
  }
  .results strong {
    display: block;
  }
  .results span {
    margin-bottom: 20px;
    display: block;
  }

  .form-input{

    min-width: 100%;
    min-height: 35px;
    border-radius: 50px;
    border: solid 1px gray;
    font-size: 25px;

  }

  .field-container{
    margin-top: 50px;

  }
  
  .login-container{

    display: flex;
    justify-content: center;

  }
  
  .login-form{

    width: 50%;

  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    background: #eee;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
  }
  ul li p {
    font-weight: bold;
    margin-left: 20px;
  }
  ul li img {
    border-radius: 50%;
    width: 100%;
  }