<h1>Search</h1>

<div class="login-container">
  <form [formGroup]="messageForm" (keyup)="search()" class="login-form">

    <label class="field-container">

      <input type="text" formControlName="search" class="form-input">

    </label>

    <input type="submit" value="Rechercher" class="cta">

  </form>
</div>


<h1>Groupe</h1>
<ul>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
</ul>

<h1>Contact</h1>
<ul>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
  <li>
    <img>
    <p> Nom Prenom</p>
    <p>0660865532</p>
  </li>
</ul>