<h1>Login</h1>

<div class="login-container">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="login-form">


    <label class="field-container">
      Email
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">Your email is required</div>
      </div>
      <input type="text" formControlName="email" class="form-input">
    </label>

    <label class="field-container">
      Password
      <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
        <div *ngIf="messageForm.controls.password.errors.required">Your password is required</div>
      </div>
      <input type="password" formControlName="password" class="form-input">
    </label>


    <input type="submit" value="Connexion" class="cta">

  </form>
</div>