<header>
  <div class="container">
    <nav>
      <span *ngIf='!user'>
        <div class="left-container nav-container" routerLink="/">Login</div>
        <div class="right-container nav-container" routerLink="register">Register</div>
      </span>
      <div *ngIf='user'>
        <div class="left-container nav-container" routerLink="contact" >Contact</div>
        <div class="right-container nav-container" routerLink="/group">Group</div>
      </div>
    </nav>
  </div>
</header>
<button class="btn purple btn-circle btn-logout" type="button" (click)="logout()" *ngIf='user'><i class="fas fa-sign-out-alt"></i></button>
<button class="btn info btn-circle btn-search" type="button" *ngIf='user' routerLink="/search"><i class="fas fa-search"></i></button>