<h1>Nouveau contact</h1>

<div class="msg-success" *ngIf="messageError">
    <i class="fa fa-check"></i>
    Nouveau contact ajouté !
</div>


<div class="login-container">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="login-form">

    <label class="field-container">
      Prénom
      <div *ngIf="submitted && messageForm.controls.firstname.errors" class="msg-error">
          <div *ngIf="messageForm.controls.firstname.errors.required">Contact name is required</div>
        </div>
      <input type="text" formControlName="firstname" class="form-input">
    </label>

    <label class="field-container">
      Nom
      <input type="text" formControlName="name" class="form-input">
    </label>

    <label class="field-container">
        Numéro de télèphone
        <input type="text" formControlName="number" class="form-input">
      </label>
      
    <label class="field-container">
        Email
        <input type="text" formControlName="email" class="form-input">
    </label>

    <label class="field-container">
      Photo de contact
      <input type="text" formControlName="picture" class="form-input">
    </label>


    <input type="submit" value="Ajouter" class="cta">

  </form>
</div>