<h1>Editer</h1>

<div class="msg-success" *ngIf="messageError">
    <i class="fa fa-check"></i>
    Contact mis à jour
</div>


<div class="login-container">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="login-form">

    <label class="field-container">
      <div *ngIf="submitted && messageForm.controls.firstname.errors" class="msg-error">
          <div *ngIf="messageForm.controls.firstname.errors.required">Contact name is required</div>
        </div>
      <input type="text" formControlName="firstname" class="form-input" placeholder="Prénom">
    </label>

    <label class="field-container">
      <input type="text" formControlName="name" class="form-input" placeholder="Nom">
    </label>

    <label class="field-container">
        <input type="text" formControlName="number" class="form-input" placeholder="Numéro de télèphone">
      </label>
      
    <label class="field-container">
        <input type="text" formControlName="email" class="form-input" placeholder="Email">
    </label>

    <label class="field-container">
      <input type="text" formControlName="picture" class="form-input">
    </label>


    <input type="submit" value="Ajouter" class="cta">

  </form>
</div>