<h1>Register</h1>

<div class="login-container">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" class="login-form">

    <label class="field-container">
      Email
      <input type="email" formControlName="email" class="form-input" placeholder="Email">
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">Your name is required</div>
      </div>
    </label>

    <label class="field-container">
      Password
      <input type="password" formControlName="password" class="form-input" placeholder="Mot de passe">
      <div *ngIf="submitted && messageForm.controls.password.errors" class="error">
        <div *ngIf="messageForm.controls.password.errors.required">Your name is required</div>
      </div>
    </label>


    <input type="submit" value="Inscription" class="cta">

  </form>
</div>